@model Practica.Models.Pagos

@{
    ViewBag.Title = "Eliminar";
}

<h2>Pago</h2>

<div>
    <h4>Pagos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConceptoDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptoDePago)
        </dd>
         

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" onclick="return confirm('¿Está seguro que desea eliminar este registro?')" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
