@model Practica.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Identificador }) |
    @Html.ActionLink("Regresar", "Index")
</p>
